NODE_ENV=production
PORT=3000

DB_NAME=biblioteca
DB_USER=biblioteca
DB_PASSWORD=biblioteca
DB_HOST=postgres
DB_PORT=5432

JWT_SECRET=segredo-didatico-biblioteca-api
JWT_EXPIRES_IN=24h

REDIS_HOST=redis
REDIS_PORT=6379

SEED_USER_NAME=Administrador
SEED_USER_EMAIL=admin@biblioteca.local
SEED_USER_PASSWORD=123456
